<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Teacher Digital Reflection</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Google Font-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="container px-0">
            <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
                <a class="navbar-brand" href="/">Digital Reflection</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
                <span class="navbar-toggler-icon">   
                  <i class="fa fa-bars" style="color: white; font-size: 2rem;"></i>     
                </span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Introduction</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cstpGrowthDevelopment">Growth & Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/impactOnStudentSuccess">Impact On Student Success</a>
                    </li>
                  </ul>
                </div>
            </nav>