<%- include("partials/header") %>

<div class="container-fluid bg-white">
    <div class="row">
      <div class="col-sm text-center mx-auto" style="max-width: 850px;">
        <img class="img-fluid" src="/imgs/CSTP.jpeg" alt="">
      </div>
    </div>
    <div class="row">
        <div class="col-sm text-center mx-auto" style="max-width: 700px;">
            <img class="img-fluid" src="/imgs/class.jpeg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center mx-auto" style="max-width: 780px;">
            <img class="img-fluid" src="/imgs/professionalGrowth.jpeg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm" style="padding: 0;">
            <img class="img-fluid" src="/imgs/timeToReflect.jpeg" alt="">
        </div>
    </div>

    <hr>

    <div class="row pt-4">
        <div class="col-lg-5 pb-3" style="max-width: 500px;">
            <img class="img-fluid" src="/imgs/kids.jpeg" alt="">
        </div>
        <div class="col-lg-7 mx-auto mt-4" style=" padding: 0;">
            <img class="img-fluid" src="/imgs/initialFinal.jpeg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="padding: 0; margin-top: 4rem;">
            <img class="img-fluid" src="/imgs/strengths.jpeg" alt="">
        </div>
        <div class="col-lg-6" style="padding: 0;">
            <img class="img-fluid" src="/imgs/improvement.jpeg" alt="">
        </div>
    </div>   

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div>
                <img class="img-fluid" src="/imgs/proudof.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid" src="/imgs/iammost.jpeg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mx-auto" style="max-width: 400px;">
                <img class="img-fluid" src="/imgs/class3.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid" src="/imgs/changed.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid" src="/imgs/paragraph.jpeg" alt="">
            </div>
        </div>
    </div>

</div>


<%- include("partials/footer") %>