<%- include("partials/header") %>
    
    <div class="container bg-white pt-3">
        <div class="row">
          <div class="col-sm-8">
            <div class="text-center">
              <img class="img-fluid" src="/imgs/title.PNG" alt="">
            </div>
           
            <div class="">
              <img class="img-fluid pt-5" src="/imgs/classroom.png" alt="">
            </div>
          </div>
          <div class="col-sm-4">
              <img class="portrait img-thumbnail" src="/imgs/elizabeth.jpeg" alt="">
              <img class="img-fluid" src="/imgs/hiThere.jpeg" alt="">
          </div>
        </div>

        <hr>

        <div class="row py-3">
          <div class="mx-auto col-md-6">
            <img class="img-fluid" src="/imgs/phil.jpg" alt="">
          </div>

          <div class="py-1 col-md-6">
            <div>
              <img class="img-fluid" src="/imgs/whyDoITeach.png" alt="">
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item pt-4" src="https://www.powtoon.com/embed/dDvrbZYGpSD/" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        
    </div>


<%- include("partials/footer") %>