body {
/* Location of the image */
background-image: url(/imgs/cloudy.jpg);
/* Background image is centered vertically and horizontally at all times */
background-position: center center;
/* Background image doesn't tile */
background-repeat: no-repeat;
/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;
/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;
/* Set a background color that will be displayed
   while the background image is loading */
background-color: white;
}


 .poster .info h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

.poster .info h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: #9BD8FE;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.navbar .nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid white;
}

.sub-title {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.portrait {
    border-radius: 50%;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

hr {
    border: 0;
    height: 3px;
    background: #9BD8FE;
    background-image: -webkit-linear-gradient(left, #9BD8FE, #9BD8FE, #9BD8FE);
    background-image: -moz-linear-gradient(left, #9BD8FE, #9BD8FE, #9BD8FE);
    background-image: -ms-linear-gradient(left, #9BD8FE, #9BD8FE, #9BD8FE);
    background-image: -o-linear-gradient(left, #9BD8FE, #9BD8FE, #9BD8FE);
}