.poster{
    position: relative;
}

.info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}

 .poster .info h1 {
    font-size: 6vw;
}

.poster .info h2 {
    font-size: 4vw;
}

