body {
/* Location of the image */
background-image: url(/imgs/cloudy.jpg);
/* Background image is centered vertically and horizontally at all times */
background-position: center center;
/* Background image doesn't tile */
background-repeat: no-repeat;
/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;
/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;
/* Set a background color that will be displayed
   while the background image is loading */
background-color: #8a8282;
}

 .poster .info h1 {
    font-size: 4rem;
    font-family: 'Snowburst One', cursive;
    font-family: 'Crushed', cursive;
}

.poster .info h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-custom {
    background-color: #32c8db;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Crushed', cursive;
    font-size: 2rem;
}

.navbar .nav-link {
    color: white;
    font-family: 'Crushed', cursive;
    font-size: 1.5rem;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid white;
}

.sub-title {
    font-size: 2.5rem;
    font-family: 'Crushed', cursive;
}

.portrait {
    border-radius: 50%;
}

.why-do-i-teach {
    background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    background-color: rgba(238, 238, 238, 0.8) !important;
    background-blend-mode: color;
}

.hello {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;
}

hr {
    border: 0;
    height: 1px;
    background: #39d4e9;
    background-image: -webkit-linear-gradient(left, #32c8db, #39d4e9, #32c8db);
    background-image: -moz-linear-gradient(left, #32c8db, #39d4e9, #32c8db);
    background-image: -ms-linear-gradient(left, #32c8db, #39d4e9, #32c8db);
    background-image: -o-linear-gradient(left, #32c8db, #39d4e9, #32c8db);
}